<% content_for :title, "Vos héros| MyLittleHero" %>

<div class="hero-index-container">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="hero-index-content text-center">
        <div class="hero-index-photo">
          <div style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path hero.photo, height: 200 %>');">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






