.header-relatives {
  font-size: 20px;
  letter-spacing: 2px;
}

.relatives-banner {
  background-image: url("http://res.cloudinary.com/poloduf/image/upload/v1512925941/background_relatives_hcda5u.png");
  background-repeat: no-repeat;
  background-size: 1200px;
  margin-bottom: 50px;
}

.relatives-banner-content {
  padding: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.relatives-avatar {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  padding: 5px;
}

.relatives-avatar img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid $blue;
  margin-right: 10px;
  box-shadow: 5px 0px 15px rgba(34, 79, 109, 0.9);
}

#parents {
  position: relative;
  bottom: 40px;
}

#freres-soeurs {
  bottom: 30px;
}

#grand-parents {
  position: relative;
  bottom: 130px;
}

#oncles-tantes {
  position: relative;
  bottom: 140px;
  right: 120px;
}

#cousins-cousines {
  position: relative;
  bottom: 100px;
  left: 80px;
}

#amis {
  bottom: 150px;
}

//BOUTON PLUS

.plus-button-relatives{
  opacity: 0.8;
}

.plus-button-relatives i{
  color: $blue;
  opacity: 0.8;
  font-size: 80px;
  transition: all 0.3s ease;
  margin-left: 10px;
}

.plus-button-relatives i:hover{
  color: $blue;
  font-size: 100px;
}

.plus-button-relatives a{
  color: $light-gray;
  text-decoration: none;
}
