.header-relatives {
  font-size: 20px;
  letter-spacing: 2px;
}

.relatives-banner {
  background-image: url("family-tree.png");
  background-repeat: no-repeat;
  margin-bottom: 50px;
  background-size: cover;
  height: 1200px;
  background-position: fixed;
}

.relatives-banner-content {
  padding: 60px;
}

.relatives-avatar {
  padding: 5px;
}

.relatives-avatar img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid $blue;
}

.parents {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.freres-soeurs-grands-parents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}

.oncles-tantes-cousins-cousines {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.amis {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.hero {
  display: flex;
  justify-content: center;

  img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid $yellow;
  }
}
.title-relatives {
  display: flex;
  align-items: center;

  h2 {
    padding: 0px;
    margin: 0px;
  }
}

//BOUTON PLUS

.plus-button-relatives{
  opacity: 0.9;
}

.plus-button-relatives i{
  color: $light-gray;
  opacity: 0.8;
  font-size: 30px;
  transition: all 0.3s ease;
  margin-left: 10px;
}

.plus-button-relatives i:hover{
  color: $blue;
  font-size: 50px;
}

.plus-button-relatives a{
  color: $light-gray;
  text-decoration: none;
}
