.header-relatives {
  font-size: 20px;
  letter-spacing: 2px;
}

.relatives-banner {
  background-image: url("family-tree.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 1200px;
  background-position: bottom;
}

.relatives-banner-content {
  padding: 0px 60px;
}

.relatives-avatar {
  padding: 5px;
}

.relatives-avatar img{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  box-shadow: 1px 2px 2px lightblue;
}

.relatives-border-mother-side{
  border: 5px solid $darkpink;
}

.relatives-border-father-side {
  border: 5px solid $darkblue;
}

.parents {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.freres-soeurs-grands-parents {
  display: flex;
  justify-content: space-between;
}

.oncles-tantes-cousins-cousines {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.amis {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.hero-relative {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid $yellow;
    box-shadow: 1px 2px 2px $yellow;
  }
}
.title-relatives {
  display: flex;
  align-items: center;
  h2 {
    padding: 0px;
    margin: 0px;
    margin-left: 5px;
  }
}

//BOUTON PLUS

.plus-button-relatives{
  opacity: 0.9;
}

.plus-button-relatives i{
  color: $light-gray;
  font-size: 30px;
  transition: all 0.3s ease;
  margin-left: 10px;
}

.plus-button-relatives i:hover{
  color: $yellow;
}

.plus-button-relatives a{
  color: $light-gray;
  text-decoration: none;
}

