// Define variables for your color scheme

// For example:
$red: rgb(250, 92, 100);
$blue: rgb(34, 79, 109);
$yellow: #FDB631;
$orange: #E67E22;
$green: #75FCA0;
$black: rgba(30,30,30, 1);
$dark-gray: rgba(216, 216, 216, 0.3);
$white: rgba(255, 255, 255, 0.9);
$light-gray: rgba(150, 150, 150, 1);
$brand-color: rgba(255, 255, 255, 1);
$smooth-gray: rgba(249,249,249, 1);
$darkpink:#c48b9f;
$pink:#f8bbd0;
$lightpink:#ffeeff;
$darkblue:#81b9bf;
$blue2:#b2ebf2;
$lightblue:#e5ffff;
