.form-group.baby_gender {
  label {
    display: block;
  }
  .radio {
    display: inline-block;
    padding-left: 10px;
  }
}
.new_baby .btn-form {
  width: 400px;
  margin-top: 35px;
}

#baby_photo {
  display: none;
}
 h1 {
  margin-bottom: 35px;
 }
