.heros {
  height: 250px;
  padding:10px;
  transition: all 0.3s ease;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 15px;
}
.heros:hover {
  padding-top: 5px;
}
.hero {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.hero h1 {
  color: $white;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

.hero-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 18px;
}
.hero-age {
  position: absolute;
    bottom: 5px;
    left: 10px;
    font-weight: lighter;
    font-size: 15px;

}

.hero-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-card-link:hover {
  opacity: 0.3;
  background-color: white;
  text-decoration: none;
}
.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.card-footer .controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card-footer .controls a {
  height: 30px;
  width: 100px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 5px;
 color: white;
 font-size: 15px;
 padding: 5px;
  text-align: center;
  vertical-align: center;
  text-decoration: none;
}
.plus-button{
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;

}
.plus-button i{
  color: $blue;
  font-size: 150px;
}
.plus-button a{
  color: $blue;
  text-decoration: none;
}
.hero-category{
  background-color: #fff;
  border-bottom: 1px solid rgba(150, 150, 150, 0.3);
  height: 40px;
  text-align: left;
  display: flex;
  align-items: center;

}
.hero-category h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: $light-gray;
  padding: 5px;
  padding-bottom: 15px;
  padding-left: 10px;
  opacity: 0.6;
}
.hero-title{
  line-height: 0px;
  margin-bottom: 30px;
}

