// Specific CSS for your home-page
.homepage-banner {
  height:100vh;
  display:flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px;
}



.banner-content h1 {
  color: $black;
  font-size: 80px;
  text-shadow: 1px 2px 3px $dark-gray;
  letter-spacing: 5px;
  font-family: 'Schoolbell', cursive;
}

.banner-content {
  color: $black;
}

.banner-content p {
  font-size: 25px;
  letter-spacing: 2px;
  margin-top: 30px;
}


//FEATURES CARDS


.features-card {
  margin-top: 100px;
  margin-bottom: 50px;
  height: 400px;
  width: 300px;
  background-color: $lightblue;
  padding: 30px;
  // box-shadow: 0px 2px 3px $light-gray;
  margin-left: 40px;

}

.features-card h2 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  color: $black;
}

.features-card p {
  text-align: justify;
  font-size: 15px;
}

.features .fa {
  font-size: 60px;
  color: $black;
}


.feature-red {
  background-color: $darkblue;
  padding: 50px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.feature-blue {
  background-color: $darkblue;
  padding: 50px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.feature-green {
  background-color: $darkblue;
  padding: 50px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.home-icon {
  height: 160px;
}

.step-description {
  margin-bottom: 100px;

}

.step-block {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

