// FIRST CONTAINER


.hero-title {
  // background-image: asset-url('background6whitegradients.jpg');
  // background-size: cover;
  background-color: white;
  padding-bottom: 45px;

  h2 {
  font-size: 80px;
  margin-top: 0px;
  padding-top: 50px;
  color: $darkblue;
  }
  p {
  font-weight: lighter;
  color: $darkblue;
  margin-bottom: 0px;
  padding-bottom: 40px;
  }
}

// SECOND CONTAINER
.hero-index-cards-container{
  background-image: asset-url('background6whitegradients.jpg');
  background-size: cover;
  border-top: 5px solid $darkblue;

}

.heros-index {
  justify-content: center;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 180px;
}

.hero-index-block{
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;

  h2 {
    color: $darkblue;
    font-size: 50px;
    margin-left: 10px;
  }
  p{
    color: white;
  }
}
.hero-index-photo{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 350px;
  width: 350px;
  background-image: asset-url("badge_hero.png");
  background-size: cover;

  img {
    opacity: 0.8;
    transition: opacity 0.3s ease;

    &:hover{
      opacity: 1;
    }
  }
}

// TABS
.hero-index-tabs {
  background-color: white;
  flex:1 0 60vw;
  padding-top: 0px;
  display: flex;
  text-decoration: none;
  justify-content: center;
}
.hero-index-tab a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.hero-index-tab {
  background-color: $darkblue;
  border-radius: 10px 10px 0 0 ;
  width: 20vw;
  margin: 0;
  padding: 20px 10px;
  transition: all 0.3s ease;
}
.hero-index-tab:hover {
  background-color: $yellow;
}
