.hero-show-container{
  background-color: $blue;
}

.hero-book-content{
  margin: 50px auto;
  border-radius: 5px;
  transition: all 0.4s ease;
  height: 240px;
  width: 380px;
  background-image: asset-url("cloud_solo.png");
  background-size: cover;
  display:flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
}
.hero-book-content:hover{
 margin-top: 30px;
}
.hero-book-content strong{
color: $darkyellow;
}

.hero-book-text{
  margin-bottom: 30px;
  padding: 25px;
}
.hero-book-text p{
  font-size: 15px;
}
.hero-image-background{
  height: 500px;
  background-image: asset-url('background1.jpg');
  background-size: cover;
}
.hero-image-background h2 {
  padding-top: 30px;
  letter-spacing: 2px;
  font-size: 80px;
  color: $black;
  margin-top: 0px;
}
.hero-image-background p{
  color: $light-gray;
  font-weight: lighter;
}
//************************* TABS ****************//
.hero-tabs {
  flex:1 0 60vw;
  padding-top: 0px;
  background-image: asset-url('background1.jpg');
  background-size: cover;
  display: flex;
  text-decoration: none;
  justify-content: center;
}
.hero-tabs a {
  text-decoration: none;
}

.hero-tabs h2 {
  font-size: 50px;
  color: $darkblue;
  font-weight: bold;
  text-decoration: none;
}
.hero-tabs p {
  margin-bottom: 0;
  text-decoration: none;
  color: white;
}
.hero-tab {
  background: $blue;
  width: 20vw;
  transition: all 0.3 ease;
  margin: 0;
  padding: 20px 10px;
}
.hero-tab:first-child:hover{
  background-color: $lightyellow;
}
.hero-tab:last-child:hover{
  background-color: $lightyellow;
}

.hero-tab:first-child{
  border-radius: 0 10px 0 0;
}
.hero-tab:last-child{
  border-radius: 10px 0 0 0;
}

//#################### ADD SYMBOL ###############//
.add-symbol-button{
  color: $blue;
}
.add-symbol-button:hover{
  color: $lightyellow;
}
//#################### FLEX ITEMS BODY ###############//
.flex-button-body{
  display:flex;
  align-items:center;

  justify-content: center;
}

.hero-tab-buttons-right {
  display: flex;
  align-items: center;
  a {
    margin: 0;

  }
}

.hero-tab-buttons-left {
  display: flex;
  align-items: center;
    a {
    margin: 0;
  }
}


.flex-button-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.flex-button-item-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
//################ PROFIL SHOW ##############//


