<% content_for :title, 'Invitez un de vos proche à rejoindre le cercle familiale ! | MyLittleHero.com' %>

<div class="container">
  <div class="background-color">
    <div class="title-one text-center">
      <h1>Invitez vos proche à rejoindre l'aventure MyLittleHero !</h1>
    </div>
    <div class="title-two">
      <h2>Explications :</h2>
    </div>
    <p>Envoyez une invitation à une personne de votre famille ou de votre entourage afin que celle-ci puisse avoir accès à l'univers de votre héro. Pour ce faire, rien de plus simple, renseignez son adresse mail ci-dessous ainsi que son "degré" d'autorisation.</p>
    <form>
    <div class="form-group">
      <div class="email-invite-form col-xs-8">
        <label for="exampleInputEmail1">Adresse mail</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer l'email de la personne à inviter ">
      </div>
    </div>
    <div class="col-xs-4">
      <select class="form-control form-control-sm">
        <option>Niveau d'autorisation</option>
        <option>Administrateur</option>
        <option>Editeur</option>
        <option>Spectateur</option>
      </select>
    </div>
    <br>
    <br>
    <button type="submit" class="btn btn-success">Envoyer l'invitation</button>
    </form>
  </div>
</div>
