body {
  background-color: $smooth-gray;
}

.container {
  padding-bottom: 50px;
}

.wrapper {
  background-color: #fff;
}

.form-container {
  margin: 20px 5px;
  background-color: $white;
  border-radius: 5px;
  padding: 50px;
  // height: 100vh;
}

.fix-footer {
  min-height: 100vh;
}

// SEARCH BAR

// .inner-addon {
//   position: relative;
//   color: $green;
// }

// /* style glyph */
// .inner-addon .glyphicon {
//   position: absolute;
//   padding: 10px;
//   pointer-events: none;
// }

// /* align glyph */
// .left-addon .glyphicon  { left:  0px;}
// .right-addon .glyphicon { right: 0px;}

// /* add padding  */
// .left-addon input  { padding-left:  30px; }
// .right-addon input { padding-right: 30px; }
