body {
  background-color: $smooth-gray;
}

.container {
  padding-bottom: 50px;
}

.wrapper {
  background-color: #fff;
}

.form-container {
  margin: 20px 5px;
  background-color: $white;
  border-radius: 5px;
  padding: 50px;
  // height: 100vh;
}

// .fix-footer {
//   min-height: 100vh;
// }

// SEARCH BAR

.background-custom {
  background-image: asset-url('background1.jpg');
}

.background-form-up {
  background-image: asset-url('bg-form-up.png');
  background-size: cover;
  background-position: bottom;
  height: 800px;
}

.background-form-down {
  background-image: asset-url('bg-form-down.png');
  background-size: cover;
  padding:200px;
}
