<div class="colordown"></div>
<div class="footer">
  <ul class="list-inline">
    <li href="#"><i class="fa fa-instagram"></i></li>
    <li href="#"><i class="fa fa-facebook"></i></li>
    <li href="#"><i class="fa fa-twitter"></i></li>
    <li href="#"><i class="fa fa-linkedin"></i></li>
  </ul>
</div>
