<% content_for :title, 'Bienvenue sur My Little Hero - Partagez les aventures de votre héro 👶' %>

<div class="row">
  <div class="col-xs-12">
    <div class="homepage-banner" style="background-image: linear-gradient(-225deg, rgba(250, 92, 100,0.4) 0%, rgba(0,36,61,0.5) 50%), url('http://res.cloudinary.com/poloduf/image/upload/v1512481071/home_page_banner_bs3ete.jpg');">
      <div class="banner-content text-center">
        <h1>My Little Hero</h1>
        <p><strong>Partagez les aventures de votre héro</strong>
        <br>
        <p>Créez un carnet de bord digital pour votre nouveau petit héro !</p>
        <br>
        <br>
          <div class="sign-buttons text-center">
           <%= link_to "M'identifier", new_user_session_path, class: "btn btn-success text-white" %>
          <%= link_to "M'enregistrer", new_user_registration_path, class: "btn btn-primary text-green"%>
          </div>
        <div class="see-more">
<!--           <a class="btn btn-danger" href="#features"> En savoir plus</a> -->
        </div>
      </div>
    </div>
  </div>
<div class="wrapper">
  <div class="container">
    <div class="features">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="text-center">Fonctionnalités</h1>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="features-card text-center">
          <div class="homepage-card">
            <i class="fa fa-heart feature-red" aria-hidden="true"></i>
          </div>
          <h2>Créer un espace dédié à son enfant</h2>
          <p>Partagez rapidement et simplement les aventures de votre héro avec vos proches</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="features-card text-center">
          <div class="homepage-card">
           <i class="fa fa-check-square-o feature-blue" aria-hidden="true"></i>
         </div>
         <h2>Invitez facilement vos proche</h2>
         <p>Une dent de perdue, un séjour à la plage, un week-end avec Papie et Mamie ? Tenez au courant votre entourage à l'aide de photos et/ou anecdotes autour de votre petit héro.</p>
       </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="features-card  text-center">
          <div class="homepage-card">
             <i class="fa fa-lock feature-green" aria-hidden="true"></i>
          </div>
          <h2>Espace totalement privé et sécurisé</h2>
          <p>Seul les personnes ayant reçu une invitation pourront accéder au contenu de votre enfants. Plusieurs niveau de modération possible.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




    <!-- <div class="col-xs-12 col-sm-4 col-md-4">
      <div class="row">
        <div class="text-center newsletter-form">
        <div class="thumbnail center well well-small text-center">
                <h2>Newsletter</h2>

                <p>Abbonez-vous à notre newsletter et rester au courant de notre avancé</p>

                <form action="" method="post">
                    <div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span>
                        <input type="text" id="" name="" placeholder="your@email.com">
                    </div>
                    <br />
                    <input type="submit" value="Subscribe Now!" class="btn btn-large" />
                </form>
        </div>
        </div>
      </div>
    </div> -->
