.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}
.card h1 {
  color: $white;
  font-family: 'Montserrat', sans-serif;
}

.card-container:hover {
  padding-top: 5px;
}

.card-container {
  height: 250px;
  padding:10px;
  transition: all 0.3s ease;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin-bottom: 15px;
}

.card h1{
  font-size: 25px;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  top: 105px;
  left: 10px;
}
.card-price {
  position: absolute;
    bottom: 5px;
    right: 10px;

}
.card-price i{
  color: white;
  padding-left: 10px;

}

.card-description h1 {
  font-size: 18px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-link:hover {
  opacity: 0.5;
  background-color: $white;
  text-decoration: none;
}
.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.card-footer p {
  color: #616161;
  font-size: 15px;
}

.card-footer .controls {
  display: flex;
  align-items: center;
}
.card-footer .controls a {
 color: $green;
 padding: 5px;
}
.footer-info {
  line-height: 15px;
}
.footer-info i {
  color: $green;
  padding-right: 10px;
}

