.form-login {
  background: transparent;
  padding: 10px 20px;
  padding-top: 50px;
  border-radius: 3px;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}



.form-general {
  background: transparent;
  padding: 10px 20px;
  padding-top: 150px 0;
  border-radius: 3px;
  width: 600;
  h2 {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
  input.form-control.input-blue-background {
    background-color: #98dff5;
    border: none;
    box-shadow: none;
    border-radius: 10px;

  }

  label {
    font-weight: lighter;
    font-family: 'Schoolbell', cursive;
    font-size: 18px;
    letter-spacing: 1px;
  }

  textarea.form-control.input-blue-background {
    background-color: #98dff5;
    border: none;
    box-shadow: none;
    border-radius: 10px;
  }

  .input-group-addon: {
    background-color: #98dff5;
    border-radius: 10px;
  }

  .glyphicon {
    color: $black;
  }
}


