.form-login {
  background: transparent;
  padding: 10px 20px;
  padding-top: 50px;
  border-radius: 3px;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }

  .schoolbell {
    font-family: 'Schoolbell', cursive;
    font-size: 18px;
    letter-spacing: 1px;
  }
  input.form-control.input-blue-background {
    background-color: #98dff5;
    border: none;
    box-shadow: none;

  }

 .input-radius {
    border-radius: 10px;
   }

   a {
    text-decoration: none;
    font-family: 'Schoolbell', cursive;
   }

   p {
    font-family: 'Schoolbell', cursive;
    font-size: 18px;
    letter-spacing: 1px;
   }
}



.form-general {
  background: transparent;
  padding: 10px 20px;
  padding-top: 150px 0;
  border-radius: 3px;
  width: 600;
  h2 {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 30px;
    text-align: center;
  }

  h3 {
    font-size: 25px;

  }

  .btn {
    width: 100%;
    margin-bottom: 20px
  }
  input.form-control.input-blue-background {
    background-color: #98dff5;
    border: none;
    box-shadow: none;

  }

  label {
    font-weight: lighter;
    font-family: 'Schoolbell', cursive;
    font-size: 18px;
    letter-spacing: 1px;
  }

  textarea.form-control.input-blue-background {
    background-color: #98dff5;
    border: none;
    box-shadow: none;

  }

  .input-white-background {
    background-color: #fff;
  }

  .schoolbell {
    font-family: 'Schoolbell', cursive;
    font-size: 18px;
    letter-spacing: 1px;
  }

  .input-group-addon: {
    background-color: #98dff5;
    border-radius: 10px;
  }

  .input-radius {
    border-radius: 10px;
   }

  .date-radius {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
   }

   .glyphicon-radius {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
   }

  .glyphicon {
    color: $black;
  }


}


