.message {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid rgba(220,224,244,0.4);
  transition: all 0.3s ease;
  margin-top: 10px;
  box-shadow: 0.5px 1px 4px $light-gray;
}

.message:hover {
  background-color: $light-gray;
  box-shadow: 0.5px 1px 4px $dark-gray;
}

.message:last-child {
  border-bottom: none;
}
.message-name {
  padding-left: 10px;
  min-width: 100px;
}
.message-name h3 {
  font-size: 18px;
  margin-bottom: 0px;
}
.message-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}
.message-body {
  flex-grow: 1;
}
.message-body {
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
}
.message-body {
  padding-left: 20px;
  color: rgba(0,0,0,0.4);
}
.message-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.message-body p {
  margin: 6px 0;
}
.message-status {
  font-size: 14px;
  font-weight: bold;
}

.message-status i {
  margin-right: 20px;
}
.status.accepted {
  color: $green;
}
.status.declined {
  color: $red;
}
.status.pending {
  color: lightgrey;
}
.message-cost {
  flex-grow: 1;
}
.message-cost {
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
}
.message-cost {
  padding-left: 20px;
  color: rgba(0,0,0,0.4);
}
.message-cost strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.message-cost p {
  margin: 6px 0;
}
.message a {
  color: $dark-gray;
  text-decoration: none;
}
.message a:hover {
  color: $gray;
  text-decoration: none;
}

.message .btn {
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  width: 70px;
}

.message .btn:hover {
  color: #fff;
}
